.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
   background-color: black;
    padding: 20px;
  }
  
  .switchText {
    font-size: 14px;
    color: #555;
    text-align: center;
  }
  
  .link {
    color: #4f46e5;
    font-weight: 500;
    cursor: pointer;
    margin-left: 5px;
  }
  
  .link:hover {
    text-decoration: underline;
  }
  